<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestngRunner">
    <classes>
      <class name="com.alexion.linkstest.LinksTest">
      <methods>
        <include name="medicalInformation" />
        <include name="careerInquiries" />
      <!--  <exclude name="careerInquiries" /> --> 
      </methods>
      </class>
    </classes>
  </test> <!-- TestngRunner -->
</suite> <!-- Suite -->
